{{#docs-viewer as |viewer|}}

    {{#viewer.nav as |nav|}}
        {{nav.item 'Introduction' 'docs.index'}}
        {{nav.item 'Usage' 'docs.usage'}}

        {{nav.section 'Components' 'docs.components'}}
        {{nav.item 'vega-vis' 'docs.components.vega-vis'}}
        {{nav.item 'vega-vis-container' 'docs.components.vega-vis-container'}}
    {{/viewer.nav}}

    {{#viewer.main}}
        <div class="docs-container">
            <div class="docs-section">
                {{outlet}}
            </div>
        </div>
    {{/viewer.main}}

{{/docs-viewer}}