<div class="example">
    {{vega-vis
        data=data
        spec=spec
        events=(hash
            click=(action "clickEventHandler")
        )
        signalEvents=(hash
            width=(action "widthSignalHandler")
        )
        onParseError=(action "parseError")
        onNewVis=(action "newVis")
    }}

    <ul>
        <li>Clicked Count: {{clickCount}}</li>
        <li>Width Signal: {{widthSignal}}</li>
        <li>Parse Error: {{parseErrorObject}}</li>
    </ul>
</div>

{{#vega-vis-resize class="example" as |dimensions|}}
    {{vega-vis
        data=data2
        spec=spec
        height=(div dimensions.width 4.259259259)
        width=dimensions.width
    }}
{{/vega-vis-resize}}

{{vega-vis
    data=data3
    spec=spec
}}

<button {{action "addData"}}>Add Data</button>
<button {{action "removeData"}}>Remove Data</button>
<button {{action "changeData"}}>Change Data</button>

{{outlet}}
